@use 'index' as *;

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: $bg-white;
    
    nav,
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    nav {
        padding-inline: 6rem;
        width: 100%;
    
        ul {
            gap: 2rem;
        }
    }
}

footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 2rem;
    padding: 1rem 4rem;
    background-color: $white;

    .contact {
        grid-area: 1 / 1 / 4 / 3;

        .header {
            margin-bottom: 2rem;

            div {
                display: flex;
                align-items: center;
                gap: 1rem;
                margin-bottom: 1rem;
            }
        }

            .links {
            .btn {
                width: 3rem;
                height: 3rem;
                border-radius: 100%;
            }
        }
    }

    .about {
        grid-area: 1 / 3 / 4 / 6;

        h3 {
            margin-bottom: 1.5rem;
        }

        p {
            padding: 0 4rem;
        }
    }

    hr {
        grid-area: 4 / 1 / 5 / 6;
        margin: 2rem 4rem;
        border: none;
        border-top: 1px solid $dark-blue;
    }

    .copyright {
        grid-area: 5 / 1 / 6 / 6;
        text-align: center;
        font-size: 0.5em;
    }
}

main {
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: url('../images/hero.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        max-height: 100vh;
        padding: 6rem 4rem;
    
        .hero-title {
            padding: 4rem;
            width: 100%;
            margin-bottom: 2rem;
        }
    }

    .about {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        padding: 8rem 12rem;

        .description {
            max-width: 60%;
            
            p {
                margin-bottom: 1rem;
            }

            a {
                margin-top: 1rem;
            }
        }

        img {
            max-width: 25%;
        }
    }
    
    .contact {
        padding: 1rem 6rem;
    }

    #services {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;
        padding: 4rem 6rem;

        img {
            box-shadow: $box-shadow-medium;
        }

        .cta {
            display: flex;
            flex-direction: column;
            margin: 4rem 6rem;
            
            .btn {
                margin-top: 2rem;
                max-width: 30%;
            }
        }
    }

    .info {
        margin-block: 0 4rem;
        padding: 2rem 4rem;
    }

    .signup,
    .login {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $white;
        min-height: 100vh;
        padding: 2rem;

        .form {
            background-color: $bg-white;
            border-radius: 0.75rem;
            padding: 2rem 4rem;
            width: 40%;

            form {
                margin-top: 1rem;

                .form-group {
                    margin-bottom: 1rem;

                    input,
                    select {
                        width: 100%;
                        padding: 0.75rem;
                        border: 1px solid $soft-blue;
                        border-radius: 0.5rem;
                        font-size: 0.95em;
                        color:$dark-blue;
                        transition: border-color 0.3s ease;

                        &:focus {
                            border-color: $dark-blue;
                            outline: none;
                        }
                    }
                }

                .btn {
                    width: 100%;
                    padding: .75rem 2rem;
                }
            }

            hr {
                border: none;
                border-top: 1px solid $soft-blue;
                margin: 1.5rem 0;
            }

            p {
                font-size: 0.75rem;
        
                a {
                    color: $soft-blue;
                    font-weight: $font-weight-bold;
        
                    &:hover {
                        color: $soft-blue;
                    }
                }
            }
        }
    }

    .signup {
        padding-block: 8rem;
    }
}