{% extends 'base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<div class="dashboard admin-dashboard">
    <div class="title">
        <h1>Hi, I am Tute Me! I believe you are the admin, right?</h1>
        <p>
            In your Admin Dashboard, you have full control over user management, tutoring sessions, and platform operations.
        </p>
    </div>

    <div class="content">
        <div class="header">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/tute.png') }}" alt="Tute Me" width="30">
                <h3>Tutors</h3>
            </div>
            <a href="{{ url_for('add_tutor') }}" class="btn">
                <span>New Tutor</span>
                <svg class="arrow-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if not tutors %}
                    <tr>
                        <td colspan="3" class="no-tutors">You have no tutors yet.</td>
                    </tr>
                {% else %}
                    {% for tutor in tutors %}
                        <tr>
                            <td>{{ tutor.name }} {{ tutor.surname }}</td>
                            <td>{{ tutor.username }}</td>
                            <td class="actions">
                                <a href="{{ url_for('view_tutor', tutor_id=tutor.user_id) }}" class="btn small view">View</a>
                                <a href="{{ url_for('edit_tutor', tutor_id=tutor.user_id) }}" class="btn small edit">Edit</a>
                                <a href="{{ url_for('remove_tutor', tutor_id=tutor.user_id) }}" class="btn small delete">Remove</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody> 
        </table>
    </div>
</div>
{% endblock %}