{% extends 'base.html' %}

{% block title %}Search Module{% endblock %}

{% block content %}

<div class="search">
    <div class="content">
        <h1>Search Modules</h1>
       <div class="form">
        <form method="POST">
            <div class="form-group">
                <input type="text" name="search_term" value="{{ search_term }}" placeholder="Enter module code or name">
            </div>
            <button type="submit" class="btn">Search</button>
        </form>
       </div>
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        {% if modules %}
            <h2>Results:</h2>
            <ul>
            {% for module in modules %}
                <li>
                    {{ module.module_code }} - {{ module.module_name }} ({{ module.description }})
                    <br>
                    Available Tutors:
                    <ul>
                    {% for tutor in module_tutors[module.module_id] %}
                        <li>
                            {{ tutor.name }} {{ tutor.surname }}

                            <br>
                            
                            <a href="{{ url_for('book_session', module_id=module.module_id, tutor_id=tutor.user_id) }}" class="btn">Book</a>
                        </li>
                    {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No modules found.</p>
        {% endif %}
    </div>
</div>
    
    <a href="{{ url_for('student_dashboard') }}">Back to Dashboard</a>


{% endblock %}