
blinker==1.9.0
certifi==2025.1.31
click==8.1.8
colorama==0.4.6
elastic-transport==8.17.1
elasticsearch==8.17.2
Flask==3.1.0
Flask-SQLAlchemy==3.1.1
greenlet==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
SQLAlchemy==2.0.39
typing_extensions==4.12.2
urllib3==2.3.0
Werkzeug==3.1.3
